body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  width: 100%;
}

header img {
  width: 100%;
  height: auto;
}

.logo-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
}

@media (min-width: 769px) {
  .logo {
    max-width: none;
    width: auto;
  }
}

footer {
  background-image: url('/assets/img/rodape.png');
  background-size: cover;
  color: rgb(0, 0, 0);
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  position: relative;
}

.footer-credit {
  font-size: 0.8em;
  color: black;
  font-weight: bold;
  margin-top: 10px;
}

.footer-credit a {
  color: black;
  text-decoration: none;
}

.footer-credit a:hover {
  text-decoration: underline;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.social-links a {
  margin-right: 10px;
  color: black;
  text-decoration: none;
  font-family: 'Calibri', sans-serif;
  font-size: 20px;
}

.social-links img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.menu {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-left: 20px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.menu li:hover {
  opacity: 1;
  font-weight: bold;
  color: #444c7c;
}

.menu li a {
  text-decoration: none;
  color: inherit;
  font-family: 'Calibri', sans-serif;
  font-size: 20px;
}

.dropdown select {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #444c7c;
  background-color: #fff;
  cursor: pointer;
  font-family: 'Calibri', sans-serif;
  appearance: none;
}

main {
  flex: 1;
}

.album-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 20px;
}

.album-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 5%;
}

.album-row a {
  flex: 0 0 22%;
  max-width: 22%;
  margin-bottom: 10px;
}

.album-row img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 250px;
  background: white;
}

.album-row a img {
  display: block;
  max-width: 100%;
  height: 250px;
  object-fit: cover;
  background: white;
}

.container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.left-box, .right-box {
  width: 40%;
  padding: 20px;
  box-sizing: border-box;
}

.left-box {
  background-color: #ffffff;
  text-align: center;
  color: #74c0ce;
}

.right-box {
  background-color: #ffffff;
  text-align: left;
}

.right-box h2 {
  color: #444c7c;
}

.right-box p {
  color: #000000;
}

.left-box img {
  width: 100%;
  height: auto;
  max-height: 800px;
  max-width: 400px;
  border: 5%;
  border-style: solid;
  border-color: #444c7c;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.contact-container h1 {
  margin-bottom: 10px;
}

.contact-container p {
  margin: 5px 0;
}

.contact-container a {
  color: #0000EE;
  text-decoration: none;
}

.contact-container a:hover {
  text-decoration: underline;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.contact-form input, .contact-form textarea {
  width: 80%;
  max-width: 200px;
  padding: 10px;
  margin: 10px 0;
  border: 5px solid #9096b1;
  border-radius: 5px;
}

.contact-form textarea {
  height: 300px;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #9096b1;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #333;
}

.images-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.image-row1 {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-bottom: 5%;
}

.image-row1 img {
  width: 100%;
  max-width: 350px;
  height: auto;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s;
  margin-bottom: 20px; /* Adiciona margem inferior para espaçamento */
}

.image-row1 img:hover {
  transform: scale(1.05);
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
}

.lightbox .prev,
.lightbox .next {
  position: absolute;
  color: pink;
  font-size: 4rem;
  cursor: pointer;
}

.lightbox .close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 4rem;
  cursor: pointer;
}

.album-link {
  position: relative;
  display: block;
}

.album-link .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 255, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-family: 'Calibri', sans-serif;
  font-size: 20px;
}

.album-link:hover .overlay {
  opacity: 1;
  font-size: 50px;
}

/* Media Queries */
@media (max-width: 1200px) {
  .menu li {
    margin-left: 15px;
  }

  .album-row img {
    width: 250px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .menu {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .menu li {
    margin: 10px;
  }

  .album-row {
    flex-wrap: wrap;
  }

  .album-row a {
    flex: 0 0 45%;
    margin-bottom: 20px;
  }

  .album-row img {
    width: 100%;
    height: auto;
  }

  .contact-form input, .contact-form textarea {
    width: 50%;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-credit {
    margin-top: 10px;
    margin-right: 0;
    position: static;
    order: 2;
  }

  .social-links {
    order: 1;
    margin-bottom: 10px;
  }

  .lightbox .prev,
  .lightbox .next {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: pink;
    font-size: 4rem;
    cursor: pointer;
  }

  .lightbox .prev {
    top: 10px;
    transform: translateX(-50%) rotate(90deg);
  }

  .lightbox .next {
    bottom: 10px;
    transform: translateX(-50%) rotate(90deg);
  }
}

@media (max-width: 480px) {
  .album-row a {
    flex: 0 0 45%;
    margin-bottom: 10px;
  }

  .album-main-container {
    display: flex;
    flex-direction: column;
   	align-items: center;
    gap: 10px;
    padding: 20px;
  }

  .album-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .album-row a {
    flex: 0 0 45%;
    max-width: 45%;
  }

  .album-row img {
    width: 100%;
    height: auto;
  }

  .contact-form input, .contact-form textarea {
    width: 100%;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-credit {
    margin-top: 10px;
    margin-right: 0;
    position: static;
    order: 2;
  }

  .social-links {
    order: 1;
    margin-bottom: 10px;
  }

  /* Para a página Album 1 */
  .images-main-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .image-row1 {
    flex-direction: column;
    align-items: center;
  }

  .image-row1 img {
    width: 100%;
    max-width: none;
    margin-bottom: 40px; /* Adiciona margem inferior para espaçamento */
  }

  .lightbox .prev,
  .lightbox .next {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: pink;
    font-size: 4rem;
    cursor: pointer;
  }

  .lightbox .prev {
    top: 10px;
    transform: translateX(-50%) rotate(90deg);
  }

  .lightbox .next {
    bottom: 10px;
    transform: translateX(-50%) rotate(90deg);
  }
}

/* Media Query para computadores */
@media (min-width: 769px) {
  .contact-form input, .contact-form textarea {
    max-width: 600px;
    width: 600px; /* Define uma largura fixa de 600px */
  }

  .contact-form textarea {
    height: 300px; /* Define a altura original */
  }

  .lightbox .prev,
  .lightbox .next {
    top: 50%;
    transform: translateY(-50%);
    left: unset;
  }

  .lightbox .prev {
    left: 10px;
    transform: translateY(-50%) rotate(0deg);
  }

  .lightbox .next {
    right: 10px;
    transform: translateY(-50%) rotate(0deg);
  }

  .album-row a {
    flex: 0 0 33%; /* Aumenta a largura das imagens em 1.5x */
    max-width: 33%;
  }

  .album-row img {
    max-height: 375px; /* Aumenta a altura máxima das imagens em 1.5x */
  }
}

/* Media Query para dispositivos móveis na página Sobre Mim */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .left-box, .right-box {
    width: 90%;
  }
}

/* Media Query para tablets */
@media (min-width: 481px) and (max-width: 834px) {
  .album-row a {
    flex: 0 0 22%; /* Reverte o tamanho das imagens para tablets */
    max-width: 22%;
  }

  .album-row img {
    max-height: 250px; /* Reverte a altura máxima das imagens para tablets */
  }

  .image-row1 img {
    max-width: 200px; /* Reduz o tamanho das imagens para caber no tablet */
    margin-bottom: 10px; /* Adiciona margem inferior para espaçamento */
  }

  .image-row1 {
    gap: 5px; /* Reduz o espaçamento entre as imagens na linha */
    margin-bottom: 10px; /* Reduz o espaçamento entre as linhas */
  }
}
